<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <label for="">New Password :</label>
        <input type="password" name="new_password">
        <br>
        <label for="">Confirm Password :</label>
        <input type="text" name="confirm_password">
        <br>
        <br>
        <button type="submit">Confirm</button>
    </form>
</body>
</html>