<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for msg in messages %}
        <h5 style="color: rgb(213, 25, 25);">{{msg}}</h5>
    {% endfor %}
    <form action="" method="post">
        {% csrf_token %}
        <label for="">OTP :</label>
        <input type="text" name="otp">
        <br>
        <br>
        <button type="submit">confirm</button>
    </form>
</body>
</html>